
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji,sans-serif ;
}
/* header */
header{
    width: 100%;
    height: 90px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
}
.container{
 width: 95%;
}
/* reseteo de diseño de links */
a{
    text-decoration: none;
}
/* links de arriba de todo */
.links{
    background-color: #555;
    width: 100%;
    height: 10px;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
}

.links a{
    display: none;
}


/*parte principal del header (logo, searchbox, cuenta y carrito) */
.header-top {
    height: 30%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* diseño de logo y menu hamburguesa */
.hamburger-menu{
    width: 15%;
    height: 40%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.hamburger-menu span{
    width: 100%;
    height: 20px;
    background-color: #fff;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}
/*tamaño de logo*/
.header-top .logo a{
    width: 100%;  
}

.header-top .logo a img{
    min-width: 100%;
}
/* diseño de searchbar */
.search{
    display: none;
    width: 60%;
    align-self: right;
    margin-left: 5px; 
}

.search form{
    width: 65%;
    margin: auto;
    padding:5px 7px 5px 7px;
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input{
    font-size: 16px;
    width: 100%;
    letter-spacing: .5px !important;
    padding-left: 3px;
}

.header-top .search form input{
    border: none;
    width: 90%;
}

.header-top .search form input:focus{
    outline: none;
}

.search button{
    border-radius: 10px;
    border: none;
    background-color: #01f603;
}

.search button:hover{
    cursor: pointer;
}

.fa-search{ 
    padding: 12px;
    font-size: 1.5em;
}

/* diseño de parte de cuenta y carrito */
.session-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.session-carrito p{
    display: none;
}

.session{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.session-carrito{
    color: white;
}

.session-carrito a{
    color: white;

}

.session-carrito a i{
    margin-right: 3px;
    font-size: 18px;
    
}

.carrito{
    color: white;
    transition: ease-in-out 5ms;
}

.carrito:hover{
    color: #01f603;
}

.fa-user{
    font-size: 1.5em;
    margin-right: 5px;  
    transition: ease-in-out 5ms;  
}

.fa-cart-plus{
    font-size: 1.5em;
    margin-right: 5px;
    transition: ease-in-out 5ms;
}

.cuenta:hover{
    color: #01f603;
}

/* diseño de parte inferior de nav*/

/* diseño de menu de categorias */
.fa-bars{
    background-color: #01f603;
    font-weight: bold;
}


nav{
    height:50px;
    display: none;
    width: 57%;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
}

/*diseño de parte de menu de categorias*/
.nav-left{
    width: 17%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

.nav-left:hover{
    cursor:pointer;
}

.nav-left p{
    color: white;
    margin-left: 2px;
}

/* diseño de armado de pc y combos */
.nav-right{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.nav-right a{
    color: white;
    font-weight: bold;
}
.arma{
    color: #01f603 !important;    
}
.nav-right a:hover{
    color: #01f603;
}


/* pruebita */
.prueba{
    height: 100px;
    width: 100px;
    background-color:white;
}

.hidden{
    display: none;
}

/* mobile */

/* tablets y pcs hd */
@media tablets and (min-width: 768px){
    .links a{
        color: white;
    }
    
    .rma, .ayuda{
        margin-left: 10px;
    }
    
    .links a i{
        margin-right: 5px;
        color: #01f603;
    }
}


/* full hd y + */
@media pcs and (min-width: 1366px){

} 
